In [1]:
#Print
print("Hellow World")

Hellow World

In [3]:
#Variables
name = "Ujjawal Shrivastav"
age = 22
hight = "5.7ft"
is_student = "TRUE"

In [4]:
#Print variables 
print(name, age, hight)

Ujjawal Shrivastav 22 5.7ft

In [7]:
#Variable Data type
print(type(name))
print(type(age))
print(type(hight))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>

In [9]:
#use Input
Name = input("Enter name: ")
college = input("Enter your college name: ")
course = input("Enter course name: ")

print("Name of student: ", Name)
print("college: ", college)
print("course: ", course)

Enter name:  Ujjawal Shrivastav
Enter your college name:  MU
Enter course name:  MBA'BA

Name of student:  Ujjawal Shrivastav
college:  MU
course:  MBA'BA

In [11]:
#Task 
company = input("Enter company name: ")
salary = input("Enter your expected salary: ")

print("Company:", company)
print("Expected salary", salary)

Enter company name:  TCS
Enter your expected salary:  7lpa

Company: TCS
Expected salary 7lpa