In [1]:
products = {}

for i in range(3):
    name = input("Enter product name: ")
    price = int(input("Enter price: "))
    products[name] = price

print("Product price list: ")
for p, pr in products.items():
    print(p, "->", pr)

Enter product name:  Munalika
Enter price:  999
Enter product name:  Pipli
Enter price:  499
Enter product name:  Ujala
Enter price:  99

Product price list:
Munalika -> 999
Pipli -> 499
Ujala -> 99

In [3]:
products = {}

for i in range(int(input("Enter count"))):
    name = input("Enter product name: ")
    price = int(input("Enter price: "))
    products[name] = price

print("Product price list: ")
for p, pr in products.items():
    print(p, "->", pr)

Enter count 2
Enter product name:  oil
Enter price:  199
Enter product name:  chtai
Enter price:  500

Product price list:
oil -> 199
chtai  -> 500

In [4]:
#A set store unique value only

In [6]:
cities = {"Delhi", "Mumbai", "Bhopal"}
print(cities)

{'Delhi', 'Bhopal', 'Mumbai'}

In [7]:
A = {1, 2, 3}
B = {3, 4, 5}

print(A.union(B))
print(A.intersection(B))
print(A.difference(B))

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [8]:
#task 

student = {}

for i in range(int(input("Enter student count: "))): 
    roll = input("Enter roll no. :")
    name = input("Enter student name")
    student[roll] = name

print("Student data: ")
for r, n in student.items(): 
    print(r, "->", n)

Enter student count:  5
Enter roll no. : 05
Enter student name sunny
Enter roll no. : 06
Enter student name roma
Enter roll no. : 07
Enter student name shubham
Enter roll no. : 08
Enter student name aryan
Enter roll no. : 09
Enter student name vivek

Student data:
05 -> sunny
06 -> roma
07 -> shubham
08 -> aryan
09 -> vivek